.Review {
    text-align: center;
    color: white;
}

.Review-header {
    min-height: 50px;
}

.Review-title {
    font-size: 2em;
}

.Review-intro {
    font-size: large;
}

h3 {
    color: lightgreen;
}