.Admin {
    text-align: center;
    color: white;
}

.Admin-header {
    min-height: 50px;
}

.Admin-title {
    font-size: 2em;
}

.Admin-intro {
    font-size: large;
}

table {
    color: white;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid white;
}

th {
    color: rgb(9, 162, 9);
}

.Admin-body {
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    opacity: .8
}