.App {
    text-align: center;
}

.App-header {
    min-height: 70px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 2em;
}

.App-intro {
    font-size: large;
}

input {
    font-size: large;
}
