.Understanding {
    text-align: center;
    color: white;
}

.Understanding-header {
    min-height: 50px;
}

.Understanding-title {
    font-size: 2em;
}

.Understanding-intro {
    font-size: large;
}
