.Feeling {
  text-align: center;
}

.Feeling-header {
  background-color: orange;
  min-height: 70px;
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.Feeling-title {
  font-size: 2em;
}

.Feeling-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}