.Home {
    text-align: center;
    color: white;
}

.Home-header {
    min-height: 50px;
}

.Home-title {
    font-size: 2em;
}

.Home-intro {
    font-size: large;
}

h4 {
    font-style: italic;
}

img {
    height: 50px;
    width: 50px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}