.Home {
  text-align: center;
}

.Home-header {
  background-color: green;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.Home-title {
  font-size: 2em;
}

.Home-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}