.Supported {
  text-align: center;
}

.Supported-header {
  background-color: yellow;
  min-height: 70px;
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.Supported-title {
  font-size: 2em;
}

.Supported-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}